.map{
    display: flex; 
    margin-top: 20px;
    text-align: center;
    padding: 20px;
    align-items: center;
    flex-direction: column;
}
.map button{
      background-color: #ff4500;
      color: rgb(0, 0, 0);
      border: 1px solid black;
      box-shadow: 3px 3px 7px black;
      padding: 10px 20px;
      border-radius: 8px;
      cursor: pointer;
      font-size: 16px;
}
.map button:hover {
      background-color: rgb(255, 126, 66);
}
.map iframe{
    margin-top: 20px;
    width: 50%;
    height: 400px;
    border: 2px solid #ddd;
    border-radius: 10px;
}
.map #status{
    margin-top: 10px;
    font-weight: bold;
}
.Submit{
    background-color: red;
    width: 10%;
    padding: 10px;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    box-shadow: 3px 3px 7px black;
    display: block;
    margin: auto; 
    font-size: 20px;  
}
.Submit:hover{
    background-color: rgb(255, 126, 66);
}
.Submit a{
    text-decoration: none;
    color: inherit;
}

.front-page {
    padding-top: 10px;
    text-align: center;
}

.front-page h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.front-page p{
    font-size: 25px;
}

.Title{
    font-family:Playfair Display;
    font-size: 50px;
    text-align: center;
}

.choices button {
    background: #ff563c;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 5px 5px 15px black;
}

.nav {
    background: #ffa963;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
    text-align: center;
}

.nav button {
    background: #ff5b42;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 15px black;
    font-size: 20px;
}

.menu {
    margin: 20px;
    background-color: #ff78a0;
    padding: 25px;
    border: 2px solid #000000;
    border-radius: 25px;
    text-align: center;
}

.item {
    display: inline-block;
    width: 130px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 8px;
    cursor: pointer;
    background: white;
    box-shadow: 5px 5px 10px black;
    font-size: 20px;
}

.item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin: 0 auto 8px;
    border-radius: 6px;
    border: 1px solid #000000;
}

.hidden {
     display: none;
}

.cart {
    border-top: 2px solid #ddd;
    border-radius: 20px;
    padding: 15px;
    background: #fff;
    position: relative;
    bottom: 0;
    margin: auto;
    width: 50%;
    text-align: center;
}

button.checkout, button.cancel {
    background: #333;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.backBtn {
    display: block;
    margin: 15px auto;
    background: #666;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.menu-controls button {
    flex: 1;
    margin: 0 5px;
    padding: 10px 0;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ff7300;
    color: black;
    transition: 0.2s;
    box-shadow: 5px 5px 15px black;
}

.menu-controls button:hover {
    background-color: #555;
}

.backBtn {
    background-color: #444;
}

.nextBtn {
    background-color: #444;
}

.About{
    font-size: 25px; 
    text-align: justify; 
    color: black; 
    line-height: 1.8; 
    padding: 15px;
}

.Members{
    font-size: 25px;
    text-align: center;
}
