body{
    background-image: url(https://preview.redd.it/fidyq5valih61.jpg?width=1080&crop=smart&auto=webp&s=14baea7155d1e87765dacc2a15fa4e55d6d24bae);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    font-family: Playfai Display;
    text-align: center;
    background-color: #fafafa;
    margin: 0;
    padding: 20px;
}
.heading{
    padding: 5px;
    color: red;
    font-size: 75px;
    font-family:Playfair Display;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 5px 5px 10px black;
}
.container{
    border: 5px solid black;
    background-color: #FF741F;
    width: 97%;
    overflow:hidden;
    border-radius: 20px;
    position: relative;
    padding: 25px;
    font-family:Playfair Display;
}
.container a{
    text-decoration: none;
    color: inherit;
}
.Logo{
    margin:.5% 15px;
    border: 3px solid black;
    box-shadow: 3px 3px 7px black;
    border-radius:100%;
}
.active{
    background-color: rgb(255, 126, 66);
    color: rgb(0, 0, 0);
    box-shadow: inset 5px 5px 10px black;
}
.navigation,.active{
    padding: 10px;
    border-radius: 25px;
    font-size: 40px;
    margin: 1% 10px;
    float: left;
    overflow:hidden;
    display: block;
    width: 15%;
}
.navigation{
    color: black;
    background-color: red;
    box-shadow: 5px 5px 15px black;
    text-shadow: 1px 1px 5px rgba(43, 39, 39, 0.815);
}
.navigation a:hover{
    background-color:rgb(255, 126, 66);
    color: rgb(0, 0, 0);
    border-radius: 25px;
    display: block;
}
.mainContainer{
    background-color: rgba(247, 115, 106, 0.897);
}

.mainContainer,.miniContainer{
    border-radius: 25px;
    padding: 15px;
    margin: 5px;
    border: 3px solid black;
}

.miniContainer{
    background-color: #ff4529;
}

.map{
    display: flex;
    justify-content: center;
    margin-top: 50px;       
}

.front-page {
    padding-top: 10px;
}

.front-page h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.front-page p{
    font-size: 25px;
}

.Title{
    font-family:Playfair Display;
    font-size: 50px;
}

.choices button {
    background: #DD3D24;
    color: rgb(0, 0, 0);
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 5px 5px 15px black;
}

.nav {
    background: #ff7300;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
}

.nav button {
    background: #DD3D24;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 15px black;
    font-size: 20px;
}

.menu {
    margin: 20px;
    background-color: #d34a35;
    padding: 25px;
    border: 2px solid #000000;
    border-radius: 25px;
    }

.item {
    display: inline-block;
    width: 130px;
    margin: 10px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 8px;
    cursor: pointer;
    background: white;
    box-shadow: 5px 5px 10px black;
    font-size: 20px;
}

.item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin: 0 auto 8px;
    border-radius: 6px;
    border: 1px solid #000000;
}

.hidden {
     display: none;
}

.cart {
    border-top: 2px solid #ddd;
    border-radius: 20px;
    padding: 15px;
    background: #fff;
    position: relative;
    bottom: 0;
    margin: auto;
    width: 50%;
}

button.checkout, button.cancel {
    background: #333;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.backBtn {
    display: block;
    margin: 15px auto;
    background: #666;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.menu-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.menu-controls button {
    flex: 1;
    margin: 0 5px;
    padding: 10px 0;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
    background-color: #ff7300;
    color: black;
    transition: 0.2s;
    box-shadow: 5px 5px 15px black;
}

.menu-controls button:hover {
    background-color: #555;
}

.backBtn {
    background-color: #444;
}

.nextBtn {
    background-color: #444;
}

.About{
    font-size: 25px; 
    text-align: justify; 
    color: black; 
    line-height: 1.8; 
    padding: 15px;
    font-family:Playfair Display;
}

.Members{
    font-size: 25px;
}
